.vscode/
env/
env2/
*__pycache__
*.pyc
*.c
*.zip
.vscode/
*pyc
src/maze_generator/__pycache__
src/maze_simulator/__pycache__
src/neat_simulator_v0/__pycache__
src/neat_simulator_v1/__pycache__
src/RANDOM_DICT/__pycache__
src/snn_simulator/__pycache__
src/neat_simulator_v1/NEAT/__pycache__
gym-maze-master/
qdpy-master/
src/evo_simulator/__pycache__
src/evo_simulator/ALGORITHMS/__pycache__
src/evo_simulator/ALGORITHMS/NEAT/__pycache__
src/evo_simulator/GENERAL/__pycache__
test/build/
src/snn_simulator/__pycache__
src/snn_simulator/build/
src/snn_simulator/SNN_cython/*.c
src/snn_simulator/SNN_cython/tools_cython.c